@import 'light-theme.scss';

body.cabinet {
    @media screen and (max-width: 1280px) {
        padding: 13px 23px 10px;
    }

    @media screen and (max-width: 1200px) {
        padding: 10px 0 0 0;
    }
}

.cabinet {
    .simplebar-content {
        padding-right: 20px;

        // @media screen and (max-width: 768px) {
        //     padding-right: 0px;
        // }
    }

    @font-face {
        font-family: 'ProximaNova'; // src: url('fonts/Rubik-Light.eot'); /* IE9 Compat Modes */
        src: //url('fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            // url('fonts/Rubik-Light.woff2') format('woff2'), /* Super Modern Browsers */
            // url('fonts/Rubik-Light.woff') format('woff'), /* Pretty Modern Browsers */
            url('fonts/ProximaNova-Bold.ttf') format('truetype');
        /* Safari, Android, iOS */
        // url('fonts/Rubik-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
        font-weight: 500;
    }


    .checkbox__left-img,
    .checkbox__right-img {
        height: 20px;
    }

    .cabinet-block__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.56;
        color: #fff;
    }

    .dashboard-header {
        @media screen and (max-width: 1280px) {
            margin-bottom: 8px;
        }
    }

    .simplebar-scrollbar:before {
        background: #666666;
    }

    main {
        .btn {
            border-radius: 2px;

            background: #516173;


            &:hover:not(:disabled) {
                background: #9ca3ad;
            }

            &.btn-green {
                background: #39b54a;
                border: 1px solid #2d8e3a;

                &:hover:not(:disabled) {
                    background: #2d8e3a;
                }
            }
        }

        .dashboard-block {
            padding: 8px 16px;
        }
    }


    .checkbox {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &+.checkbox {
            margin-top: 10px;
        }

        &__label {
            color: #b0b0b1;
            // transition: .3s;
            font-size: 14px;
            font-weight: 500;
        }

        input {
            display: none;

            &:checked+.checkbox__icon {
                background: url(img/icons/checkbox-active.svg);
                border: none;
            }

            &:checked~.checkbox__label {
                font-weight: 600;
            }
        }

        &__icon {
            background-position: center !important;
            // transition: .3s;
            margin-right: 15px;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            background-color: #fff;
            border: 1px solid #d4dee7;
        }
    }

    .radio {
        display: flex;
        align-items: center;

        input {
            display: none;

            &:checked+.radio__icon {
                background: #39b54a;
                border: none;
                &:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin:auto;
                    background: #fff;
                    border-radius: 100%;
                }
            }
        }

        label {
            display: flex;
            cursor: pointer;
            margin-right: 30px;
            img + img {
                margin-left: 5px;
            }
        }

        &__icon {
            position: relative;
            background-position: center !important;
            // transition: .3s;
            margin-right: 10px;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #d4dee7;
        }
    }





    .dashboard-header__right {
        justify-content: flex-end;
    }

    .cabinet-container {
        display: flex;
        justify-content: space-between;

        // height: calc(100vh - 100px - 38px);
        @media screen and (max-width: 1200px) {
            flex-direction: column-reverse
        }

        &__left {
            width: calc(33%);
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: 1200px) {
                width: 100%;
            }
        }

        &__right {
            margin-left: 10px;
            display: flex;
            flex-wrap: wrap;
            width: calc(67%);

            @media screen and (max-width: 1200px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .dashboard-block {
        width: 100%;

        &+.dashboard-block {
            margin-top: 10px;
        }

        &.account {
            padding-bottom: 10px;
            height: 308px;

            @media screen and (max-width: 1200px) {
                margin-top: 10px;
            }

            form {
                margin-top: 24px;

                @media screen and (max-width: 1200px) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }

            .input {
                @media screen and (max-width: 1200px) {
                    margin-top: 0;
                    width: calc(50% - 10px);
                }

                @media screen and (max-width: 600px) {
                    margin-top: 0;
                    width: 100%;
                }
            }

            // height: 303px;
            .account-buttons {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .hidden {
                opacity: 0;
                visibility: hidden;
            }

            .input__label {
                // margin-top: 5px;
                margin-bottom: 4px;
            }

            .btn {
                width: 105px;
                margin-top: 10px;
            }
        }

        &.security {
            height: calc(100% - 308px - 10px);

            .btn {
                width: 105px;
            }

            .table.col-4 .table-body {
                height: 132px;

                // overflow: hidden;
                @media screen and (max-width: 1280px) {
                    height: 225px;
                }
            }

            .table.col-3  {
                .table-body{
                    height: 225px;

                    // overflow: hidden;
                    @media screen and (max-width: 1280px) {
                        height: 225px;
                    }
                }
  

                .table-body__col,
                .table-head__col {
                    &:nth-child(1) {
                        width: 30%;
                    }
    
                    &:nth-child(2) {
                        width: 30%;
                        text-align: left;
                    }
    
                    &:nth-child(3) {
                        width: 30%;
                        text-align: left;
                    }
                }
            }

            .input__label {
                margin-top: 11px;
            }

            .table+.input__label {
                margin-top: 40px;
            }

            .checkbox {
                padding-left: 34px;

                @media screen and (max-width: 480px) {
                    padding-left: 0;
                }
            }

            form {
                margin-top: 8px;
                margin-bottom: 28px;
                display: flex;
                justify-content: space-between;
            }
        }

        &.wallets {
            // height: 70%;
            height: 705px;
            padding-top: 15px;

            @media screen and (max-width: 1200px) {
                height: 590px;
            }

            .table-filter {
                @media screen and (max-width: 600px) {
                    margin-top: 15px;
                }
            }

            .table {
                height: 100%;
            }

            .table-body {
                height: calc(100% - 121px);
                // overflow: hidden;
            }
        }

        &.statistic {
            height: calc(100% - 705px - 10px);

            .table {
                margin-top: 5px;
            }

            .table-filter {
                padding: 4px 6px;

                input {
                    padding: 10px 10px 10px 35px;
                    border: none;
                    background: #fff;
                    border-radius: 4px;
                    width: 294px;
                    color: #273142;

                    &:internal-autofill-selected {
                        border: none;
                    }
                }
            }

            .table-body {
                height: 140px;
            }
        }
    }

    .cabinet-tabs {
        display: flex;

        &-content {
            height: 100%;
            margin-top: 50px;
            display: none;

            &.active {
                display: block;
            }

            .scroll-y {
                height: calc(100% - 95px);
            }
        }

        &__item {
            cursor: pointer;
            font-family: ProximaNova;
            font-size: 18px;
            font-weight: 600;
            color: #b0b0b1;
            margin-right: 15px;
            position: relative;
            transition: 0.3s;

            @media screen and (max-width: 600px) {
                font-size: 16px;
            }

            @media screen and (max-width: 480px) {
                font-size: 14px;
            }

            &:after {
                position: absolute;
                content: '';
                opacity: 0;
                visibility: hidden;
                bottom: -20px;
                width: 100%;
                height: 3px;
                background-color: #39b54a;
                transition: 0.3s;
                left: 0;

                @media screen and (max-width: 600px) {
                    bottom: -10px;
                }
            }

            &.active {
                color: #fff;

                &:after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    .icon-star {
        width: 24px;
        height: 24px;
        background: url(img/star.svg);
        background-size: cover;
        margin-left: 11px;
        margin-top: -6px;
        cursor: pointer;

        &.active {
            background: url(img/star-green.svg);
        }
    }

    .cabinet-wallets {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            height: 110px;
            background-color: #333f52;
            // flex: 1 0 calc(50% - 20px);
            width: calc(50% - 4px);
            // margin-right: 15px;
            margin-top: 8px;
            display: flex;
            flex-wrap: wrap;
            padding: 15px;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }

            &:nth-child(2) {
                @media screen and (max-width: 768px) {
                    margin-top: 8px;
                }
            }

            &_logo {
                width: 48px;
                min-width: 48px;
                margin-right: 17px;
                cursor: pointer;
            }

            &_name {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.4;
                display: flex;
                align-items: flex-start;
                color: #fff;
                cursor: pointer;
            }

            .icon-star {
                margin-left: 11px;
                margin-top: -6px;
            }

            &_value {
                color: #fff;
                font-size: 14px;
                font-weight: 600;
            }

            &_money {
                display: flex;
                text-align: right;
                align-items: flex-start;
                margin-top: 5px;
            }

            &_usd {
                font-size: 10px;
                line-height: 1.4;
                text-align: right;
                color: #7f8fa4;
                margin-top: 8px;
            }

            &_info {
                align-items: flex-start;
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            &_buttons {
                align-items: baseline;
                display: flex;
                justify-content: flex-end;
                padding-right: 35px;
                flex: 1;
                margin-top: 7px;

                .btn {
                    padding: 6px 15px;
                    width: 104px;
                    margin-left: 10px;
                }
            }
        }
    }

    .input {
        position: relative;

        &+.input {
            margin-top: 6px;
        }

        &.valid {

            input,
            textarea {
                border-color: #1bb934;
            }

        }

        &.invalid {

            input,
            textarea {
                border-color: #f85359;
            }

            .input__info {
                background: url(img/info-red.svg);
            }
        }

        &__label {
            font-family: ProximaNova;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            color: #7f8fa4;
        }

        &__info {
            position: absolute;
            width: 16px;
            height: 16px;
            // top: 0;
            bottom: 10px;
            right: 10px;
            // margin: auto;
            background: url(img/info.svg);

            // cursor: pointer;
            &:hover {

                // & + &_tooltip {
                //     display: block;
                // }
                .input__info_tooltip {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &_tooltip {
                transition: 0.3s;
                opacity: 0;
                visibility: hidden;
                background-color: #273142;
                max-width: 202px;
                min-height: 50px;
                position: absolute;
                border-radius: 5px;
                padding: 15px;
                right: 0px;
                // overflow: hidden;
                z-index: 9999;
                transform: translate(calc(50% - 7px), calc(-100% - 10px));
                font-size: 14px;
                // font-weight: 600;
                color: #fff;
                text-align: center;

                @media screen and (max-width: 1200px) {
                    transform: translate(0, calc(-100% - 10px));
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border-top: 5px solid #273142;
                }
            }
        }

        input,
        textarea {
            outline: none;
            resize: none;
            width: 100%;
            border: 1px solid #ddd;
            padding: 9px 10px;
            font-size: 14px;
        }
    }

    .table {

        .table-head {
            padding-right: 30px;
            // @media screen and (max-width: 768px) {
            //     padding: 0 10px;
            // }
        }

        .table-body__row {
            width: 100%;
            height: 28px;
        }
    
        .table-filter__input {
            position: relative;
            img {
                position: absolute;
                left: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .table-filter__text {
            margin-right: 10px;
            font-size: 14px;
            line-height: 1.5;
            color: #fff;
        }

        &.col-4 {}

        &.col-5 {

            .table-body__col,
            .table-head__col {
                text-align: left;
                width: 20%;
                align-items: center;
                display: flex;

                &:nth-child(1) {
                    width: 20%;
                }

                img {
                    margin-right: 7px;
                }
            }
        }

        &.col-6 {
            .table-filter {
                justify-content: flex-end;
                background: none;
                padding: 8px 0;

                .dropdown {
                    width: 90px;
                    height: 30px;

                    &.dropdown-big .dropdown-value {
                        line-height: 32px;
                    }
                }
            }

            .table-body__col,
            .table-head__col {
                text-align: left;
                width: calc(100% / 6);

                // &:nth-child(1) {
                //     width: 20%;
                // }
                align-items: center;
                display: flex;

                img {
                    margin-right: 7px;
                }
            }
        }
    }


    .modal-overlay {
        background: rgba(0, 0, 0, .5);
    }

    .modal.cabinet-modal {
        .modal__close {
            width: 16px;
            height: 16px;
            background: url(img/icons/modal-close.svg) no-repeat;
        }

        .modal-body {
            background: #516173;
            padding: 20px;
            overflow: initial;
            border-radius: 2px;
            max-height: initial;
            max-width: 480px;
            width: 100%;

            form {
                padding: 0;
                width: 100%;
            }
        }

        .btn {
            width: 105px;
            height: 36px;
            background: #333f52;
            font-weight: 500;
            border-radius: 2px;
            float: right;
            margin-bottom: 0;
        }

        textarea {
            height: 81px;
        }
    }

    .cabinet-modal {
        

        &[data-modal="about"] {

            .modal-buttons {
                .btn {
                    margin-left: 10px;
                    width: 105px;
                    height: 30px;
                }
            }
            .input__section {
                margin-top: 40px;   
            }
            .cabinet-wallets__item_name, .cabinet-wallets__item_logo {
                cursor: auto;
            }
            .icon-star {
                cursor: auto;
                margin: 0 0 0 -3px;
            }

            .table .table-head {
                background: #333f52;
            }
            .table.col-3 {
                .table-body__col{
                    &:nth-child(2){
                        font-weight: 600;
                    }
                }
            }
            .table.col-4 {
                    // height: 150px;
                 .table-body__col,  .table-head__col{
                     color: #fff;

                     &:nth-child(1){
                         width: 25%;
                     }
                     &:nth-child(2){
                        width: 25%;
                    }
                    &:nth-child(3){
                        width: 10%;
                    }
                    &:nth-child(4){
                        width: 20%;
                    }
                 }
            }
        }

        &[data-modal="receive"] {
            
            .modal-body {
                height: 580px;  
            }
            .input,
            .input__attention, {
                padding-left: 10px;
            }
            .radio {
                padding-top: 10px;
                padding-left: 30px;
            }
        }

        &__title {
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.56;

            color: #fff;

            &:after {
                content: '';
                width: 178px;
                height: 3px;
                background-color: #39b54a;
                display: block;
                margin: 15px 0;
            }
        }

        &__notitication {
            display: flex;
            align-items: center;
            background: #f85359;
            border: 1px solid #ec2c33;
            padding: 8px 10px;
            border-radius: 2px;
            color: #fff;
            font-size: 14px;
            margin-bottom: 10px;
            position: relative;

            &.hidden {
                opacity: 0;
                visibility: hidden;
            }

            &_close {
                width: 8px;
                top: 0;
                bottom: 0;
                right: 15px;
                margin: auto;
                cursor: pointer;
                position: absolute;
            }

            img {
                &:first-child {
                    margin-right: 10px;
                }
            }
        }

        &__tabs {
            display: flex;
            margin: 40px 0 15px 0;

            &_item {
                font-size: 14px;
                font-weight: 600;
                line-height: 1.5;
                color: #fff;
                cursor: pointer;
                margin-right: 30px;

                &.active {
                    color: #39b54a;
                }
            }
        }

        .input__section {
            color: #fff;
            margin-bottom: 16px;
            font-size: 14px;
            font-weight: 600;
            margin-top: 47px;
        }

        .input__attention {
            font-size: 12px;
            color: #fff;
            align-items: flex-start;
            display: flex;
            line-height: 1.7em;
            margin-top: 8px;
            margin-bottom: 10px;

            img {
                margin-right: 10px;
            }
        }

        .input__label {
            color: #fff;
            margin-bottom: 4px;
        }

        .input {
            span {
                color: #fff;
                margin: 0 15px;
                font-size: 14px;
            }

            &+.input {
                margin-top: 11px;
            }
        }

        .modal-buttons {
            display: flex;
            justify-content: flex-end;
        }

        .btn {
            font-family: ProximaNova;
            background: #333f52;

            &:hover:not(:disabled) {
                background: #222;
            }

            &.btn-green {
                background: #39b54a;

                &:hover:not(:disabled) {
                    background: #2d8e3a;
                }
            }
        }
    }
}