<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>ico cabinet</title>
    <link rel="stylesheet" href="style_new.css" />
    <link rel="stylesheet" href="ico_cabinet.min.css" />
    <link rel="stylesheet" href="simplebar.css" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">-->
    <!-- Fix for iOS Safari zooming bug -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.css" />
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" /> -->
</head>

<body class="cabinet light-theme">
    <div id="app">
        <div class="dashboard-header dashboard-block">
            <div class="dashboard-header__left">
                <div class="dashboard-status">
                    <div class="dashboard-logo"><img src="img/logo.svg" alt="" /></div>
                    <div class="dashboard-status__right">
                        <button class="btn btn-small btn-green" disabled>
                            OPEN TRADE
                        </button>
                        <!-- <button class="btn btn-small btn-red" disabled>TRADE CLOSED</button> -->
                        <app-clock></app-clock>
                    </div>
                </div>
            </div>
            <div class="dashboard-header__right">
                <div class="dashboard-auth">
                    <div class="dashboard-theme">
                        <label class="checkbox" data-theme-switcher>
                            <input type="checkbox" />
                            <div class="checkbox__left-img"></div>
                            <div class="checkbox__bg">
                                <div class="checkbox__inner"></div>
                            </div>
                            <div class="checkbox__right-img"></div>
                        </label>
                    </div>
                    <div class="dashboard-auth__buttons">
                        <div class="dashboard-auth__unauthorized">
                            <button class="btn btn-grey btn-small" @click.stop="openModal('sign-in')">
                                LOG IN
                            </button>
                            <button class="btn btn-green btn-small" @click.stop="openModal('sign-up')">
                                REGISTER
                            </button>
                        </div>
                        <div class="dashboard-auth__authorized">
                            <span class="dashboard-auth__email">xkjhcdihbce@gmail.com</span>
                            <button class="btn btn-grey btn-small" id="logOutButton">
                                LOG OUT
                            </button>
                        </div>
                    </div>
                    <div class="dropdown dropdown-dark-grey dropdown-small" data-dropdown>
                        <div class="dropdown-value" data-dropdown-value>Eng</div>
                        <div class="dropdown-content" data-dropdown-content>
                            <ul>
                                <li data-dropdown-item>Eng</li>
                                <li data-dropdown-item>Rus</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <div class="cabinet-container">
                <div class="cabinet-container__left">
                    <app-account></app-account>
                    <app-security></app-security>
                </div>
                <div class="cabinet-container__right">
                    <app-wallets></app-wallets>
                    <app-statistic></app-statistic>
                </div>
            </div>
        </main>
        <div class="modal-overlay" id="modal-overlay"></div>
        <div class="modal" data-modal="sign-in">
                <div class="modal-body">
                    <div class="modal-logo"><img class="modal-logo" src="img/logo.svg"></div>
                    <div class="js-close-modal modal__close"></div>
                    <div class="modal-line-text"><span>LOG IN</span></div>
                    <form novalidate="">
                        <div class="modal-text">Please check that you are visiting <a href="">https://exchange2.net</a></div>
                        <div class="modal-input-link">
                            <div class="modal-input-link-icon"><img src="img/padlock.svg" alt=""></div><span><b>https:</b>//www.exchange2.net</span></div>
                    </form>
                    <div class="modal-line-text"></div>

                    <form method="POST" id="sign-in-form" action=":8008/auth">
                        <div class="modal-label">Email</div>
                        <div class="modal-input">
                            <input type="text" name="login" placeholder="login" required="">
                        </div>
                        <div class="modal-label">Password</div>
                        <div class="modal-input">
                            <input type="password" name="password" placeholder="Password" required="">
                        </div>
                        <div class="modal-link">forgot password?</div>
                        <button class="btn" type="submit">LOG IN</button>
                        <div class="modal-bottom-text">Not on Exchange#2 yet? <span class="modal-link js-popup" data-modal-open="sign-up">register</span></div>
                    </form>
                </div>
            </div>
            <div class="modal" data-modal="sign-up">
                    <div class="modal-body">
                        <div class="js-close-modal modal__close"></div>
                        <div class="modal-logo"><img class="modal-logo" src="img/logo.svg"></div>
                        <div class="modal-line-text"><span>Create your account now</span></div>
                        <form id="registration-form" method="POST">
                            <div class="js-close-modal modal__close"></div>
                            <div class="modal-label">Email</div>
                            <div class="modal-input">
                                <input type="text" name="login" placeholder="Provide an active address" required="" data-pattern="email">
                            </div>
                            <div class="modal-label">Password</div>
                            <div class="modal-input">
                                <input type="password" name="password" placeholder="Minimum 7 characters" required="" data-pattern="password">
                            </div>
                            <div class="modal-label">Confirm Password</div>
                            <div class="modal-input">
                                <input type="password" name="confirmPassword" placeholder="Passwords must match" required="" data-pass-confirm="true">
                            </div>
                            <label class="modal-checkbox">
                                <input type="checkbox" name="agree" data-pattern="checkbox" reuired="">
                                <div class="modal-checkbox-icon"></div>
                                I agree with service <a href="/tos.html">Terms &amp; Conditions</a>
                            </label>
                            <button class="btn" id="signUpButton">REGISTER</button>
                            <div class="modal-bottom-text">Already have an account?<span class="modal-link js-popup" data-modal-open="sign-in">LOG IN</span></div>
                        </form>
                    </div>
                </div>

                <div class="modal cabinet-modal" data-modal="send">
                        <div class="modal-body">
                            <div class="js-close-modal modal__close"></div>
                            <div class="cabinet-modal__title"><span>Send Bitcoins </span></div>
                            <form  method="POST">
                                <div class="input"><div class="input__label">
                                        Asset
                                    </div> <input type="text" required="required" name="email" placeholder="your@email.com" autocomplete="off">
                                </div>
                                <div class="input"><div class="input__label">
                                        Recipient
                                    </div> <input type="text" required="required" name="email" placeholder="your@email.com" autocomplete="off">
                                </div>
                                <div class="input"><div class="input__label">
                                        Amount
                                    </div> <input type="text" required="required" name="email" placeholder="your@email.com" autocomplete="off">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal" data-modal="receive">
                            <div class="modal-body">
                                <div class="js-close-modal modal__close"></div>
                                <!-- <div class="modal-logo"><img class="modal-logo" src="img/logo.svg"></div> -->
                                <div class="modal-line-text"><span>Receive Bitcoins </span></div>
                                <form  method="POST">
                    <!--                 <div class="js-close-modal modal__close"></div>
                                    <div class="modal-label">Email</div>
                                    <div class="modal-input">
                                        <input type="text" name="login" placeholder="Provide an active address" required="" data-pattern="email">
                                    </div>
                                    <div class="modal-label">Password</div>
                                    <div class="modal-input">
                                        <input type="password" name="password" placeholder="Minimum 7 characters" required="" data-pattern="password">
                                    </div>
                                    <div class="modal-label">Confirm Password</div>
                                    <div class="modal-input">
                                        <input type="password" name="confirmPassword" placeholder="Passwords must match" required="" data-pass-confirm="true">
                                    </div>
                                    <label class="modal-checkbox">
                                        <input type="checkbox" name="agree" data-pattern="checkbox" reuired="">
                                        <div class="modal-checkbox-icon"></div>
                                        I agree with service <a href="/tos.html">Terms &amp; Conditions</a>
                                    </label>
                                    <button class="btn" id="signUpButton">REGISTER</button>
                                    <div class="modal-bottom-text">Already have an account?<span class="modal-link js-popup" data-modal-open="sign-in">LOG IN</span></div> -->
                                </form>
                            </div>
                        </div>


                        <div class="modal" data-modal="about">
                                <div class="modal-body">
                                    <div class="js-close-modal modal__close"></div>
                                    <!-- <div class="modal-logo"><img class="modal-logo" src="img/logo.svg"></div> -->
                                    <div class="modal-line-text"><span>Bitcoin</span></div>
                                    <form  method="POST">
                        <!--                 <div class="js-close-modal modal__close"></div>
                                        <div class="modal-label">Email</div>
                                        <div class="modal-input">
                                            <input type="text" name="login" placeholder="Provide an active address" required="" data-pattern="email">
                                        </div>
                                        <div class="modal-label">Password</div>
                                        <div class="modal-input">
                                            <input type="password" name="password" placeholder="Minimum 7 characters" required="" data-pattern="password">
                                        </div>
                                        <div class="modal-label">Confirm Password</div>
                                        <div class="modal-input">
                                            <input type="password" name="confirmPassword" placeholder="Passwords must match" required="" data-pass-confirm="true">
                                        </div>
                                        <label class="modal-checkbox">
                                            <input type="checkbox" name="agree" data-pattern="checkbox" reuired="">
                                            <div class="modal-checkbox-icon"></div>
                                            I agree with service <a href="/tos.html">Terms &amp; Conditions</a>
                                        </label>
                                        <button class="btn" id="signUpButton">REGISTER</button>
                                        <div class="modal-bottom-text">Already have an account?<span class="modal-link js-popup" data-modal-open="sign-in">LOG IN</span></div> -->
                                    </form>
                                </div>
                            </div>
    </div>

    <script id="clock-template" type="text/x-template">
        <div class="dashboard-status__time">
            <span class="dashboard-status__time_date">{{date}}</span>
            <span class="dashboard-status__time_hours">{{time}}</span>
        </div>
    </script>

    <script id="account-template" type="text/x-template">
        <div class="dashboard-block account">
            <div class="cabinet-block__title">Account</div>
            <form @submit.prevent="submit()" @input="validate()">
                <div class="input"  :class="{invalid : dirty.email && errors.email, valid: dirty.email && !errors.email }">
                    <div class="input__label">
                        Login email
                    </div>
                    <input type="email" required v-model="form.email" name="email" placeholder="your@email.com" autocomplete="off" @input.once="dirty.email = true"/>
                </div>
                <div class="input" :class="{invalid : dirty.password && errors.password, valid: dirty.password && !errors.password }" >
                    <div class="input__label">
                        Password
                    </div>

                    <app-info-tooltip>
                        какакакаd
                        окакоаз
                        шкашкёqw
                        ertyuiopokjhgfdsd
                        fghjkjhgfdsfghjkoijuhygt
                        fdfghjkloiuytgf
                    </app-info-tooltip>
                   
                    <input type="password" maxlength="30" required v-model="form.password" placeholder="***********" autocomplete="off" @input.once="dirty.password = true"/>
                </div>
                <div class="input" v-if="form.password"  :class="{invalid : dirty.passwordConfirm && errors.passwordConfirm, valid: dirty.passwordConfirm &&  !errors.passwordConfirm }" >
                    <div class="input__label">
                        Password Again
                    </div>
                    <app-info-tooltip>
                        Title
                    </app-info-tooltip>
                    <input type="password" maxlength="30" required  v-model="form.passwordConfirm" placeholder="***********" autocomplete="off" @input.once="dirty.passwordConfirm = true"/>
                </div>
                <div class="account-buttons">
                    <button class="btn btn-big" type="submit" :class="{'btn-green': valid}">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </script>

    <script id="security-template" type="text/x-template">
        <div class="dashboard-block security">
            <div class="cabinet-block__title">Security</div>
            <div class="input__label">Authentication</div>
            <form @submit.prevent="submit()"  @change="validate()">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" name="agree" reuired="" v-model="form.smsAuth"/>
                        <div class="checkbox__icon"></div>

                        <div class="checkbox__label">SMS Authentication</div>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" name="agree" reuired="" v-model="form.googleAuth"/>
                        <div class="checkbox__icon"></div>
                        <div class="checkbox__label">Google Authentication</div>
                    </label>
                </div>

                <button class="btn btn-big" type="submit" :disabled="!changed" :class="{'btn-green': changed}">Change</button>
            </form>

            <div class="input__label">Device Managment</div>
            <div class="table col-4">
                <div class="table-head filled">
                    <div class="table-head__col">Device</div>
                    <div class="table-head__col">Location</div>
                    <div class="table-head__col">Recent activity</div>
                    <div class="table-head__col">IP Address</div>
                </div>
                <div class="table-body filled" ref="device">
                    <div class="table-empty" v-if="!deviceCollection.length">Empty</div>
                    <div class="table-body__row" v-if="deviceCollection.length" v-for="item in deviceCollection">
                        <div class="table-body__col">{{item.device}}</div>
                        <div class="table-body__col">{{item.location}}</div>
                        <div class="table-body__col">{{item.activity}}</div>
                        <div class="table-body__col">{{item.ip}}</div>
                    </div>
                </div>
            </div>

            <div class="input__label">Location Managment</div>
            <div class="table col-3">
                <div class="table-head filled">
                    <div class="table-head__col">Location</div>
                    <div class="table-head__col">Recent activity</div>
                    <div class="table-head__col">IP Address</div>
                </div>
                <div class="table-body filled" ref="location">
                    <div class="table-empty" v-if="!locationCollection.length">Empty</div>
                    <div class="table-body__row" v-if="locationCollection.length" v-for="item in locationCollection">
                        <div class="table-body__col">{{item.location}}</div>
                        <div class="table-body__col">{{item.activity}}</div>
                        <div class="table-body__col">{{item.ip}}</div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="statistic-info-template" type="text/x-template">
        <div class="dashboard-block statistic">
            <div class="cabinet-block__title">Statistic Info</div>
            <div class="table col-5">
                <div class="table-filter">
                    <input type="text" class="search-input" />
                </div>
                <div class="table-head filled">
                    <div class="table-head__col">Tokens</div>
                    <div class="table-head__col">Balance</div>
                    <div class="table-head__col">In Orders</div>
                    <div class="table-head__col">Price, USD</div>
                    <div class="table-head__col">Fee, USD</div>
                </div>
                <div class="table-body filled" ref="scroll">
                    <div class="table-empty" v-if="!collection.length">Empty</div>
                    <div class="table-body__row" v-if="collection.length" v-for="item in collection">
                        <div class="table-body__col">
                            <img :src="item.icon">  {{item.name}}
                        </div>
                        <div class="table-body__col">{{item.balance}}</div>
                        <div class="table-body__col">{{item.inOrders}}</div>
                        <div class="table-body__col">{{item.price}}</div>
                        <div class="table-body__col">{{item.fee}}</div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="wallets-template" type="text/x-template">
        <div class="dashboard-block wallets">
            <div class="cabinet-tabs">
                <div class="cabinet-tabs__item" @click="changeTab(index)" :class="{active: index == activeTab}" v-for="(tab, index) in tabs">
                    {{tab}}
                </div>
            </div>
            <div class="cabinet-tabs-content" :class="{active: activeTab === 0}">
                <div class="scroll-y" ref="favorite">
                     <div class="cabinet-wallets">
                        <div v-if="!favorite.length" class="table-empty">Empty</div>
                        
                        <div class="cabinet-wallets__item" v-for="item in favorite">
                            <div class="cabinet-wallets__item_info">
                                <div class="cabinet-wallets__item_name">
                                    <img class="cabinet-wallets__item_logo" :src="item.icon" alt="" @click="showInfo(item)"> {{item.name}}
                                    <br> {{item.abbr}}
                                </div>
                                <div class="cabinet-wallets__item_money">
                                    <div>
                                        <div class="cabinet-wallets__item_value">{{item.value}}</div>
                                        <div class="cabinet-wallets__item_usd">{{item.usd}}</div>
                                    </div>
                                
                                    <div class="icon-star" @click="addToFavorite(item)" :class="{active: item.favorite}"></div>
                                </div>
                            </div>
                            <div class="cabinet-wallets__item_buttons" v-if="!item.inactive">
                                <button type="button" class="btn" @click="send()">Send</button>
                                <button type="button" class="btn"  @click="receive()">Receive</button>
                            </div>
                            <div class="cabinet-wallets__item_buttons" v-if="item.inactive">
                                <button type="button" class="btn"  @click="add()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="cabinet-tabs-content" :class="{active: activeTab === 1}">
                <div class="scroll-y"  ref="all">
                    <div class="cabinet-wallets">
                        <div class="cabinet-wallets__item" v-for="item in all">
                            <div class="cabinet-wallets__item_info">
                                <div class="cabinet-wallets__item_name">
                                    <img class="cabinet-wallets__item_logo" :src="item.icon" alt="" @click="showInfo(item)"> {{item.name}}
                                    <br> {{item.abbr}}
                                </div>
                                <div class="cabinet-wallets__item_money">
                                    <div>
                                        <div class="cabinet-wallets__item_value">{{item.value}}</div>
                                        <div class="cabinet-wallets__item_usd">{{item.usd}}</div>
                                    </div>

                                    <div class="icon-star" @click="addToFavorite(item)" :class="{active: item.favorite}"></div>
          
                                </div>
                            </div>
                            <div class="cabinet-wallets__item_buttons" v-if="!item.inactive">
                                <button type="button" class="btn"  @click="send()">Send</button>
                                <button type="button" class="btn"  @click="receive()">Receive</button>
                            </div>
                            <div class="cabinet-wallets__item_buttons" v-if="item.inactive">
                                <button type="button" class="btn"  @click="add()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="cabinet-tabs-content" :class="{active: activeTab === 2}" style="margin-top: 4px;">

                    <div class="table col-6">
                        <div class="table-filter">
                            <div class="table-filter__text">View on</div>
                            <div class="dropdown dropdown-grey dropdown-big">
                                <div class="dropdown-value">Coins</div>
                            </div>
                        </div>
                        <div class="table-head filled">
                            <div class="table-head__col">Tokens</div>
                            <div class="table-head__col">Date</div>
                            <div class="table-head__col">Status</div>
                            <div class="table-head__col">Amount</div>
                            <div class="table-head__col">Fee</div>
                            <div class="table-head__col">Total Balance</div>
                        </div>
                        <div class="table-body filled" ref="transactions">
                            <div class="table-empty" v-if="!transactions.length">Empty</div>
                            <div class="table-body__row" v-if="transactions.length" v-for="item in transactions">
                                <div class="table-body__col">
                                    <img :src="item.icon"> {{item.name}}
                                </div>
                                <div class="table-body__col">{{item.date}}</div>
                                <div class="table-body__col">{{item.status}}</div>
                                <div class="table-body__col">{{item.amount}}</div>
                                <div class="table-body__col">{{item.fee}}</div>
                                <div class="table-body__col">{{item.totalBalance}}</div>
                            </div>
                        </div>
                    </div>

           
            </div>
        </div>
    </script>

    <script id="info-tooltip-template" type="text/x-template">
        <div class="input__info">
            <div class="input__info_tooltip">
              <slot></slot>
            </div>
        </div>
    </script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="js/ico_cabinet.js"></script>
</body>

</html>